* {
    margin: 0;
    padding: 0;
}

body {
	background-color: #B3CBE5;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 8%;
	
	background-color: #9AAAB7;
	
	border-style: none none dotted none;
	border-width: 1px;
	
	font-family: Source Sans Pro, sans-serif;
	letter-spacing: 1px;
	font-size: 18px;
}

.logo {
	position: fixed;
	top: 1%;
	left: 1%;
	width: 9%;
	height: 6%;
	
	border-style: none solid none none;
	border-width: 2px;
}

.links {
	position: fixed;
	top: 1%;
	left: 10.5%;
	width: 1.75%;
	height: 6%;
	
	border-style: none solid none none;
	border-width: 2px;
}

.generators {
	position: fixed;
	top: 1%;
	left: 12.25%;
	width: 8.75%;
	height: 6%;
	
	border-style: none solid none none;
	border-width: 2px;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.main {
	padding-top: 8%;
	
	font-family: Source Sans Pro, sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}