body {
	background-color: #B3CBE5;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 4%;
	padding: 1%;
	
	background-color: #9AAAB7;
	
	border-style: none none dashed none;
	border-width: 2px;
}

.logo {
	position: fixed;
	top: 0;
	left: 0;
	width: 6%;
	height: 4%;
	padding: 1%;
	
	border-style: none dashed none none;
	border-width: 2px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}